<div *ngIf="visibileMM == false" class="tuttoNero">
  
</div>

<div *ngIf="caricamentoInCorsoI == true" class="attesaComunicazione" 
  style="left: 0px;">
  <img src="assets/immagini/icons/please_wait.gif" class="iconaAttesa" />
</div>

<div *ngIf="caricamentoInCorsoV == true" class="attesaComunicazione" 
  [style.left]="modalitaDoppia == true ? '50%' : '0px'">
  <img src="assets/immagini/icons/please_wait.gif" class="iconaAttesa" />
</div>

<div *ngIf="menuCellulare == false" class="hamburger">
  <img src="assets/immagini/icons/hamburger.png" style="cursor: pointer; width: 100%; height: 100%" (click)="menuCellulare = !menuCellulare" />
</div>

<!-- MENU -->
<div *ngIf="menuCellulare == true" class="menuCellulare">
  <div class="riga">
    <!-- <div style="width: 50%; float: left; word-break: initial; ">
      Modalità doppia
    </div>
    <div style="width: 50%; float: left; word-break: initial; ">
      <input type="checkbox" [checked]="modalitaDoppia == true" (change)="cambiaModalitaDoppia($event)" /> &nbsp;
    </div>
    <div *ngIf="ceCordova == false" class="pulisci"></div> -->

    <div *ngIf="modalitaDoppia == false" style="width: 50%; float: left; word-break: initial; ">
      Immagini <input type="radio" value="Immagini" [disabled]="refreshInCorso == true ? true : null" name="gender" [(ngModel)]="Tipologia" (click)="cambiaLista('Immagini')">
    </div>
    <div *ngIf="modalitaDoppia == false" style="width: 50%; float: left; word-break: initial; ">
      Video <input type="radio" value="Video" [disabled]="refreshInCorso == true ? true : null" name="gender" [(ngModel)]="Tipologia" (click)="cambiaLista('Video')">
    </div>
    <div class="pulisci"></div>

    <div style="width: calc(40% - 5px); padding: 5px; float: left; word-break: initial; background-color: #a0cbb4;">
      Lista<span *ngIf="modalitaDoppia == true">Immagini</span>
    </div>
    <div style="width: calc(60% - 5px); padding: 5px; float: left; word-break: initial; background-color: #a0cbb4; height: 34px;"
    >
      <select [(ngModel)]="listaSelezionata" [disabled]="refreshInCorso == true ? true : null" style="width: 100%;" (change)="cambiataLista()" (click)="modificataComboImmagini()">
        <option *ngFor="let listina of listaOrdinata" 
          [value]="listina.NomeLista" 
          [attr.selected]="listaSelezionata==listina.NomeLista ? true : null">
          {{listina.NomeLista}}
        </option>
      </select>        
    </div>
    <div class="pulisci"></div>

    <div *ngIf="modalitaDoppia == true" style="width: calc(40% - 5px); padding: 5px;  float: left; word-break: initial; background-color: #8b9f93;">
      Lista Video
    </div>
    <div *ngIf="modalitaDoppia == true" style="width: calc(60% - 5px); padding: 5px;  float: left; word-break: initial; background-color: #8b9f93; height: 34px;"
    >
      <select [(ngModel)]="listaSelezionataVideo" [disabled]="refreshInCorso == true ? true : null" style="width: 100%;" (change)="cambiataLista()" (click)="modificataComboVideo()">
        <option *ngFor="let lista of listaVideo" 
          [value]="lista.NomeLista" 
          [attr.selected]="listaSelezionataVideo==lista.NomeLista ? true : null">
          {{lista.NomeLista}}
        </option>
      </select>        
    </div>
    <div *ngIf="modalitaDoppia == true" class="pulisci"></div>

    <div *ngIf="modalitaDoppia == true || Tipologia == 'Immagini'">
      <!-- <div style="width: 40%; float: left;">
        Files: {{quantiFiles}}
      </div>
      <div style="width: 60%; float: left;"> -->
        <span style="width: calc(100% - 30px); display: block; float: left;">Random Immagini</span><input type="checkbox" [(ngModel)]="modalitaRandomI" style="width: 30px" (click)="impostaRandomI($event)" />
      <!-- </div>-->
    </div>
    <div class="pulisci"></div>

    <div *ngIf="modalitaDoppia == true || Tipologia != 'Immagini'">
      <!-- <div style="width: 40%; float: left;">
        Files: {{quantiFiles}}
      </div>
      <div style="width: 60%; float: left;"> -->
        <span style="width: calc(100% - 30px); display: block; float: left;">Random Video</span><input type="checkbox" [(ngModel)]="modalitaRandomV" style="width: 30px" (click)="impostaRandomV($event)" />
      <!-- </div>-->
    </div>
    <div class="pulisci"></div>

    <div *ngIf="listaIDSelezionata !== ''" style="width: 100%;">
      <div style="width: 40%; float: left;">
        Lista ID Selezionata:
      </div>
      <div style="width: 60%; float: left; background-color: #a0cbb4;">
        <div style="width: calc(100% - 30px); float: left;">
          {{listaIDSelezionata}}
        </div>
        <div style="width: 30px; float: left; text-align: right;;">
          <img src="assets/immagini/icons/icona_REFRESH.png" style="cursor: pointer; width: 25px; height: 25px" (click)="modificaIDMultimedia(idTipologiaPerSceltaID, IDSelezionato, listaIDSelezionata, -1, false)" />
        </div>
      </div>
    </div>

    <div *ngIf="(modalitaDoppia == true || Tipologia == 'Immagini') && listaSelezionata && listaSelezionata.indexOf('Preferiti') == -1 && listaSelezionata.indexOf('Tutto') == -1">
      <div style="width: 40%; float: left;">
        Immagine Attuale:
      </div>
      <div style="width: calc(60% - 90px); float: left;">
        <input type="number" [(ngModel)]="multimediaAttualeI" style="width: 50%" (focus)="entratoCampoTesto(true)" (focusout)="entratoCampoTesto(false)"><span style="width: 50%;">&nbsp;/&nbsp;{{quantiFilesI}}</span>
      </div>
      <div style="width: 90px; float: left;">
        <img src="assets/immagini/icons/icona-NASCONDE.png" title="Carica ID" class="immagini" (click)="aprePopupID(1)" />
        <img src="assets/immagini/icons/icona_SALVA.png" title="Salva ID" class="immagini" (click)="modificaIDMultimedia(1, '', '', multimediaAttualeI, true)" />
        <img src="assets/immagini/icons/icona_PLAY.png" title="Imposta ID" class="immagini" (click)="caricaMultimediaID(1)" />
      </div>
    </div>
    <div class="pulisci"></div>

    <div *ngIf="(modalitaDoppia == true || Tipologia != 'Immagini') && listaSelezionataVideo && listaSelezionataVideo.indexOf('Preferiti') == -1 && listaSelezionataVideo.indexOf('Tutto') == -1">
      <div style="width: 40%; float: left;">
        Video Attuale:
      </div>
      <div style="width: calc(60% - 90px); float: left;">
        <input type="number" [(ngModel)]="multimediaAttualeV" style="width: 50%" (focus)="entratoCampoTesto(true)" (focusout)="entratoCampoTesto(false)" >&nbsp;/&nbsp;{{quantiFilesV}}
      </div>
      <div style="width: 90px; float: left;">
        <img src="assets/immagini/icons/icona-NASCONDE.png" title="Carica ID" class="immagini" (click)="aprePopupID(2)" />
        <img src="assets/immagini/icons/icona_SALVA.png" title="Salva ID" class="immagini" (click)="modificaIDMultimedia(2, '', '', multimediaAttualeV, true)" />
        <img src="assets/immagini/icons/icona_PLAY.png" title="Imposta ID" class="immagini" (click)="caricaMultimediaID(2)" />
      </div>
    </div>
    <div class="pulisci"></div>

    <!-- <div *ngIf="modalitaDoppia == false" style="width: 50%; float: left; margin-top: 2px; word-break: initial; ">
      Refresh Archivio
    </div>
    <div *ngIf="modalitaDoppia == false" style="width: 50%; float: left; text-align: right; word-break: initial; ">
      <img src="assets/immagini/icons/icona_REFRESH.png" class="immagini" (click)="refreshArchivio()" />
    </div>
    <div *ngIf="modalitaDoppia == false" class="pulisci"></div> -->

    <div *ngIf="modalitaDoppia == false" style="width: 45%; float: left; margin-top: 2px; word-break: initial; ">
      <span style="width: calc(100% - 30px); display: block; float: left;">Griglia</span>
      <input type="checkbox" style="width: 30px;" [(ngModel)]="griglia" (click)="impostaGriglia()" />
    </div>
    <div *ngIf="modalitaDoppia == false" style="width: 55%; float: left; word-break: initial; ">
      <div style="width: 50%; text-align: left; float: left;">
        <input type="number" [(ngModel)]="QuanteImmaginiPerGriglia" style="width: 70px;" (blur)="uscitaCampoQuanti($event)" (focus)="entratoCampoTesto(true)" (focusout)="entratoCampoTesto(false)" >
      </div>
      <div style="width: 50%; text-align: right; float: left;">
        <img src="assets/immagini/icons/icona_CERCA.png" class="immagini" (click)="rinfrescaGriglia()" style=" margin-top: -3px;" />
      </div>
    </div>
    <div *ngIf="modalitaDoppia == false" class="pulisci"></div>

    <div *ngIf="Tipologia == 'Immagini' || modalitaDoppia == true" style="width: 40%; float: left; word-break: initial; margin-top: 2px;">
      Filtro Immagini
    </div>
    <div *ngIf="Tipologia == 'Immagini' || modalitaDoppia == true" style="width: 56%; float: left; word-break: initial; ">
      <input type="text" [(ngModel)]="FiltroImmagini" (blur)="esceDaFiltroImmagini()" [disabled]="refreshInCorso == true ? true : null" style="width: 100%; height: 29px;" (focus)="entratoCampoTesto(true)" (focusout)="entratoCampoTesto(false)" >
    </div>
    <div *ngIf="Tipologia == 'Immagini' || modalitaDoppia == true" class="pulisci"></div>

    <div *ngIf="Tipologia != 'Immagini' || modalitaDoppia == true" style="width: 40%; float: left; word-break: initial; margin-top: 2px;">
      Filtro Video
    </div>
    <div *ngIf="Tipologia != 'Immagini' || modalitaDoppia == true" style="width: 56%; float: left; word-break: initial; ">
      <input type="text" [(ngModel)]="FiltroVideo" (blur)="esceDaFiltroVideo()" [disabled]="refreshInCorso == true ? true : null" style="width: 100%; height: 29px;" (focus)="entratoCampoTesto(true)" (focusout)="entratoCampoTesto(false)" >
    </div>
    <div *ngIf="Tipologia != 'Immagini' || modalitaDoppia == true" class="pulisci"></div>

    <div *ngIf="Tipologia == 'Immagini' && modalitaDoppia == false" style="width: calc(100% - 35px); float: left; word-break: initial; margin-top: 2px;">
      <div style="width: 100%; float: left;">
        <div style="width: 43%; float: left;">
          Slide&nbsp;<span (click)="sbloccaProtezione()">show</span>
        </div>
        <div style="width: 21%; float: left;">
          <input type="number" [(ngModel)]="secondiSS" [disabled]="refreshInCorso == true ? true : null" style="width: 100%; height: 29px;" >        
        </div>
        <div style="float: left; width: 10%; word-break: initial; margin-top: -1px;">
          <img *ngIf="slideshowAzionato == false" src="assets/immagini/icons/icona_AVANTI.png" class="immagini" (click)="azionaSlideshow()" style=" margin-top: 1px;" />
          <img *ngIf="slideshowAzionato == true" src="assets/immagini/icons/elimina_quadrato.png" class="immagini" (click)="azionaSlideshow()" style=" margin-top: 1px;" />
        </div>
        <div style="float: left; width: 10%; word-break: initial; margin-top: -2px;">
          &nbsp;<span *ngIf="slideshowAzionato == true" style="color: blue; font-size: 20px;">{{contatore}}</span>
        </div>
      </div>
    </div>

    <div class="pulisci"></div>

    <div style="width: 100%; float: left; word-break: initial; margin-top: 2px; border-top: 1px solid #557261;">
      <div style="width: 50%; float: left; word-break: initial; ">
        Preferiti: {{ quantiPreferiti }}
      </div>
      <div style="width: 50%; float: left; word-break: initial; ">
        Preferiti Protetti: {{ quantiPreferitiProt }}
      </div>
    </div>

    <div class="pulisci"></div>
  </div>

  <img *ngIf="menuCellulare == true" src="assets/immagini/icons/icona_equalizz.png" style="position: absolute; top: 0px; right: 70px; width: 30px; height: 30px;" (click)="impostazioniMostrate = !impostazioniMostrate" />
  <img *ngIf="menuCellulare == true" src="assets/immagini/icons/matitadx.png" style="position: absolute; top: 0px; right: 35px; width: 30px; height: 30px;" (click)="utilityMostrate = !utilityMostrate" />
  <img src="assets/immagini/icons/hamburger.png" style="position: absolute; top: 0px; right: 0px; width: 30px; height: 30px;" (click)="menuCellulare = !menuCellulare" />
</div>
<!-- MENU -->

<div *ngIf="griglia == false && ceCordova == false" 
  class="barra" 
  [style.width]="modalitaDoppia === true ? '50%' : '100%'"
  [style.bottom]="Tipologia == 'Immagini' ? '0px' : '0px'"
  [style.opacity]="opacitaBarraI"
  (mouseenter)="opacitaSiI()"
  (mouseleave)="opacitaNoI()"
  >
  <div style="width: 10%; float: left;">
    <img src="assets/immagini/icons/icona_INDIETRO.png" class="immagini" style="margin-top: 2px;" (click)="indietroMM(1)" />
  </div>
  <div class="allineamentoCentro" style="width: 80%; overflow: hidden; white-space: nowrap; float: left; height: 35px;">
    <div #txtInformazioniI id="txtInformazioniI" style="width: 100%; font-size: 20px; white-space: pre;">
      {{ testoScrollabileImmagine }}
    </div>
  </div>
  <div class="allineamentoDestra" style="width: 10%; float: left;">
    <img src="assets/immagini/icons/icona_AVANTI.png" class="immagini" style="margin-top: 2px;" (click)="avantiMM(1)" />
  </div>
</div>

<div *ngIf="griglia == false && ceCordova == false && modalitaDoppia == true && staConvertendo == false" 
  class="barra" 
  style="left: 50%; width: 50%; bottom: 0px;"
  [style.opacity]="opacitaBarraV"
  (mouseenter)="opacitaSiV()"
  (mouseleave)="opacitaNoV()"
  >
  <div style="width: 10%; float: left;">
    <img src="assets/immagini/icons/icona_INDIETRO.png" class="immagini" style="margin-top: 2px;" (click)="indietroMM(2)" />
  </div>
  <div class="allineamentoCentro" style="width: 80%; overflow: hidden; white-space: nowrap; float: left; height: 35px;">
    <div #txtInformazioniV id="txtInformazioniV" style="width: 100%; font-size: 20px; white-space: pre;">
      {{ testoScrollabileVideo }}
    </div>
  </div>
  <div class="allineamentoDestra" style="width: 10%; float: left;">
    <img src="assets/immagini/icons/icona_AVANTI.png" class="immagini" style="margin-top: 2px;" (click)="avantiMM(2)" />
  </div>
</div>

<div 
  *ngIf="griglia == false && ceCordova == true"
  (click)="indietroMM(1)"
  [style.width]="modalitaDoppia == true ? '15%' : '20%'"
  style="
    position: absolute;
    left: 0px;
    top: 75px;    
    z-index: 1500;
    cursor: pointer;
    height: 80%;">
  <!-- <img src="assets/immagini/icons/icona_INDIETRO.png" style="width: 100%; height: 100%; margin-top: 2px;" (click)="indietroMM()" /> -->
</div>

<!-- TASTI AVANZAMENTO ANDROID -->
<!-- Immagini -->
<div 
  *ngIf="griglia == false && ceCordova == true && staConvertendo == false && Tipologia == 'Immagini'"
  (click)="avantiMM(1)"
  [style.width]="modalitaDoppia == true ? '15%' : '20%'"
  [style.right]="modalitaDoppia == true ? '50%' : '0px'"
  style="
    position: absolute;
    top: 15%;
    right: 0px;
    z-index: 1500;
    cursor: pointer;
    height: 75%;
    width: 20%;">
  <!-- <img src="assets/immagini/icons/icona_INDIETRO.png" style="width: 100%; height: 100%; margin-top: 2px;" (click)="avantiMM()" /> -->
</div>

<div 
  *ngIf="griglia == false && ceCordova == true && staConvertendo == false && Tipologia == 'Immagini'"
  (click)="indietroMM(1)"
  style="
    position: absolute;
    width: 15%;
    left: 0%;
    top: 15%;    
    z-index: 1500;
    cursor: pointer;
    height: 75%;">
  <!-- <img src="assets/immagini/icons/icona_INDIETRO.png" style="width: 100%; height: 100%; margin-top: 2px;" (click)="indietroMM()" /> -->
</div>
<!-- Immagini -->

<!-- Video -->
<div 
  *ngIf="griglia == false && ceCordova == true && staConvertendo == false && Tipologia != 'Immagini'"
  (click)="avantiMM(2)"
  style="
    position: absolute;
    right: 0px;
    top: 15%;
    z-index: 1500;
    cursor: pointer;
    height: 75%;
    width: 15%;">
  <!-- <img src="assets/immagini/icons/icona_INDIETRO.png" style="width: 100%; height: 100%; margin-top: 2px;" (click)="avantiMM()" /> -->
</div>

<div 
  *ngIf="griglia == false && ceCordova == true && staConvertendo == false && Tipologia != 'Immagini'"
  (click)="indietroMM(2)"
  style="
    position: absolute;
    width: 15%;
    left: 0px;
    top: 15%;    
    z-index: 1500;
    cursor: pointer;
    height: 75%;">
  <!-- <img src="assets/immagini/icons/icona_INDIETRO.png" style="width: 100%; height: 100%; margin-top: 2px;" (click)="indietroMM()" /> -->
</div>
<!-- Video -->
<!-- TASTI AVANZAMENTO ANDROID -->

<!-- <div class="swipe" (swipe)="onPinch($event)">
  <h1>Pinch Gesture</h1>
  <p>Works with both mouse and touch.</p>
  <h5 [innerHTML]="pinchione"></h5>
</div> -->

<div class="contenuto" #contenitore>
  <!-- [style.top]="visualizzataIntestazione == true ? ceCordova == true ? '1px' : '-33px' : ceCordova == true ? '1px' : '-33px'" 
  [style.height]="visualizzataIntestazione == true ? ceCordova == true ? 'calc(100% - 9px)' : 'calc(100% - 9px)' : ceCordova == true ? 'calc(100% - 5px)' : 'calc(100% - 5px)'"
  -->

  <!--
    [style.height]="dimensioneImmagineY"
    [style.margin-left.px]="margineSinistro"
    [style.margin-top.px]="margineAlto"
  <img #immagine *ngIf="griglia == false && Tipologia == 'Immagini'"
    [src]="pathImmagine" 
    style="user-select: none; width: 100%; height: 100%;"
    (click)="clickImmagine()"
    (error)="erroreImmagine($event)"
  >
  -->

  <!-- PREFERITI -->
  <div *ngIf="informazioniMMI && visualizzataFinestraBottoniI == false" class="tastiBottoni" 
    [style.left]="modalitaDoppia == true ? '50%' : '100%'"
  >
    <img src="assets/immagini/icons/hamburger.png" style="position: absolute; top: 0px; right: 0px; width: 30px; height: 30px;" (click)="apreBottoniI()" />
  </div>

  <div *ngIf="informazioniMMV && modalitaDoppia == true && visualizzataFinestraBottoniV == false" class="tastiBottoni" style="right: 5px;">
    <img src="assets/immagini/icons/hamburger.png" style="position: absolute; top: 0px; right: 0px; width: 30px; height: 30px;" (click)="apreBottoniV()" />
  </div>

  <div *ngIf="informazioniMMI && visualizzataFinestraBottoniI && (modalitaDoppia == true || (modalitaDoppia == false && Tipologia == 'Immagini'))"
    class="finestraBottoni" style="width: 220px;"
    [style.left]="modalitaDoppia == true ? 'calc(50% - 230px)' : 'calc(100% - 230px)'"
  >
    <div class="finestraBottoniInterna">
      <!-- <img src="assets/immagini/icons/icona_MODIFICA-TAG.png" class="immagini" title="Sposta Multimedia a categoria" style="z-index: 1600; margin-right: 8px;" (click)="apriSpostaCategoria(1);" /> -->
      <img src="assets/immagini/icons/icona-FILTRO.png" class="immagini" title="Visualizza Informazioni Immagine" style="z-index: 1600; margin-right: 8px;" (click)="infoImmagini = true" />
      <img src="assets/immagini/icons/icona_CERCA.png" class="immagini" title="Scarica Informazioni Immagine" style="z-index: 1600; margin-right: 8px;" (click)="PrendeInformazioniImmagine('S')" />
      <img src="assets/immagini/icons/icona-NASCONDE.png" class="immagini" title="Sposta Immagine nell'archivio delle piccole" style="z-index: 1600; margin-right: 5px;" (click)="SpostaImmagine(1)" />
      <img src="assets/immagini/icons/elimina_quadrato.png" class="immagini" title="Elimina Immagine" style="z-index: 1600; margin-right: 5px;" (click)="EliminaMultimedia(1)" />
      <img *ngIf="informazioniMMI.Preferito == false" src="assets/immagini/icons/preferito_vuoto.png" class="immagini" style="z-index: 1600; margin-right: 5px;" (click)="impostaPreferito(1, 'S')" />
      <img *ngIf="informazioniMMI.Preferito == true" src="assets/immagini/icons/preferito.png" class="immagini" style="z-index: 1600; margin-right: 5px;" (click)="impostaPreferito(1, 'N')" />
      <img src="assets/immagini/icons/hamburger.png" style="width: 25px; height: 25px;" (click)="apreBottoniI();" />
    </div>
  </div>

  <div *ngIf="informazioniMMV && visualizzataFinestraBottoniV && staConvertendo == false && (modalitaDoppia == true || (modalitaDoppia == false && Tipologia != 'Immagini'))"
    class="finestraBottoni" style="right: 5px; width: 245px;"
  >
    <div class="finestraBottoniInterna">
      <!-- <img src="assets/immagini/icons/icona_MODIFICA-TAG.png" class="immagini" title="Sposta Multimedia a categoria" style="z-index: 1600; margin-right: 8px;" (click)="apriSpostaCategoria(2);" /> -->
      <img src="assets/immagini/icons/icona-FILTRO.png" class="immagini" title="Visualizza Informazioni Video" style="z-index: 1600; margin-right: 8px;" (click)="infoVideo = true" />
      <img src="assets/immagini/icons/icona_CERCA.png" class="immagini" title="Informazioni Video" style="z-index: 1600; margin-right: 8px;" (click)="InformazioniVideo = !InformazioniVideo" />
      <img src="assets/immagini/icons/elimina_quadrato.png" class="immagini" title="Elimina Video" style="z-index: 1600; margin-right: 8px;" (click)="EliminaMultimedia(2)" />
      <img *ngIf="conversioneAutomaticaInCorso == false" src="assets/immagini/icons/bat.png" class="immagini" title="Converte Video" style="z-index: 1600; margin-right: 5px;" (click)="converteVideo()" />
      <img *ngIf="informazioniMMV.Preferito == false" src="assets/immagini/icons/preferito_vuoto.png" class="immagini" style="z-index: 1600; margin-right: 5px;" (click)="impostaPreferito(2, 'S')" />
      <img *ngIf="informazioniMMV.Preferito == true" src="assets/immagini/icons/preferito.png" class="immagini" style="z-index: 1600; margin-right: 5px;" (click)="impostaPreferito(2, 'N')" />
      <img src="assets/immagini/icons/hamburger.png" style="width: 25px; height: 25px;" (click)="apreBottoniV()" />
    </div>
  </div>
  <!-- PREFERITI -->

  <!-- INFORMAZIONI VIDEO  -->
  <div *ngIf="InformazioniVideo == true " class="finestraInfoVideo"
    [style.left]="modalitaDoppia == false ? '0px' : '50%'"
  >
    <table *ngIf="InformazioniVideoJson" style="width: 100%;">
      <tr *ngFor="let stre of InformazioniVideoJson">
        <td style="width: 100%;">
          <tr *ngFor="let streT of stre.Valori">
            <td style="text-align: left; width: 30%;">{{streT.Nome}}</td>
            <td style="text-align: left; width: 70%;">{{streT.Valore}}</td>
          </tr>
        </td>
      </tr>
    </table>
    <div style="position: absolute; z-index: 1610; right: 1px; top: 5px;">
      <img src="assets/immagini/icons/icona_CERCA.png" class="immagini" title="Refresh" style="z-index: 1610; " (click)="RefreshInfoVideo()" />
      <img src="assets/immagini/icons/elimina_quadrato.png" class="immagini" title="Chiude" style="z-index: 1610; " (click)="InformazioniVideo = false" />
    </div>
  </div>
  <!-- INFORMAZIONI VIDEO  -->
  
  <!-- INFORMAZIONE CONVERSIONE -->
  <div *ngIf="staConvertendo==true" class="conversione"
    [style.left] = "modalitaDoppia == false ? '30%' : '55%'"
  >
    CONVERSIONE FILE VIDEO
    <hr />
    <div *ngFor="let vi of vecchieInformazioni; let index=index;" style="width: 100%; min-height: 25px;">
      {{vi}}
    </div>
  </div>
  <!-- INFORMAZIONE CONVERSIONE -->

  <!-- [style.width.px]="dimensioneXImm"
  [style.height.px]="dimensioneYImm" -->

  <div #immagine 
    *ngIf="griglia == false && (Tipologia == 'Immagini' || modalitaDoppia == true) && visibileMM == true"
    style="background-repeat: no-repeat; background-position: center; float: left;"
    [style.width]="modalitaDoppia === true ? '50%' : '100%'"
    [style.height]="ceCordova == false ? 'calc(100% - 35px)' : '100%'"
    [style.background-size]="dimensioneImm"
    [ngStyle]="{ 'background-image': 'url(\'' + pathImmagine + '\')'}"
  ></div>

  <!-- 
  <div class="toolbar">
    <table style="width: 100%;">
      <tr>
        <td colspan="3">
          <input #ranger1 type="range" min="1" max="1000" [(ngModel)]="scale" (input)="cambioScala()" style="width: 100%;">
        </td>
      </tr>
      <tr>
        <td>
          {{minSpostamentoX}}
        </td>
        <td>
          <input #ranger2 type="range" [min]="minSpostamentoX" [max]="maxSpostamentoX" [(ngModel)]="spostamentoX" (input)="cambioScala()" style="width: 100%;">
        </td>
        <td>
          {{maxSpostamentoX}}              
        </td>
      </tr>
      <tr>
        <td>
          {{minSpostamentoY}}
        </td>
        <td>
          <input #ranger3 type="range" [min]="minSpostamentoY" [max]="maxSpostamentoY" [(ngModel)]="spostamentoY" (input)="cambioScala()" style="width: 100%;">
        </td>
        <td>
          {{maxSpostamentoY}}              
        </td>
      </tr>
      <tr>
        <td>
          {{scale}}
        </td>
        <td>
          {{spostamentoX}}
        </td>
        <td>
          {{spostamentoY}}
        </td>
      </tr>
    </table>
  </div>
-->

  <!-- <video *ngIf="Tipologia != 'Immagini'" [src]="pathVideo" style="width: 100%; height: 100%;"></video>

  <video *ngIf="Tipologia" width="100%" height="100%" controls>
    <source [src]="pathVideo" [type]="tipoVideo">
    Your browser does not support the video tag.
  </video> -->

  <!--     [style.height]="ceCordova == false ? 'calc(100% - 35px)' : '100%'"
  -->
  <div *ngIf="griglia == false && (Tipologia != 'Immagini' || modalitaDoppia == true) && visibileMM == true"
    style="height: 100%; float: left; border-left: 1px solid white;"
    [style.width]="modalitaDoppia == true ? '50%' : '100%'"
    [style.height]="ceCordova == false ? 'calc(100% - 35px)' : '100%'"
    >
    <video #videoPlayer id="videoPlayer" width="100%" height="100%" poster="{{thumbsVideo}}" 
      preload="none" src="{{pathVideo}}" controls muted autoplay>
      Sorry, your browser doesn't support embedded videos.
    </video>
  </div>

  
  <!-- <mat-video 
    *ngIf="griglia == false && Tipologia != 'Immagini'" 
    #videoPlayer 
    id="videoPlayer" 
    width="100%" 
    height="100%"
    src="{{pathVideo}}"
    muted="true"
    [preload]="true"
    [fullscreen]="true"
    [autoplay]="true"
    poster="{{thumbsVideo}}"
  >

  </mat-video> -->


  <div *ngIf="griglia == true && listaSelezionata.indexOf('Preferiti') == -1 && listaSelezionata.indexOf('Tutto') == -1 && sbloccataProtezione == true" style="margin-top: 30px; width: 100%; height: 100%; overflow: auto; padding: 5px;">
    <div style="width: 100%; height: auto;">
      <div *ngFor="let d of strutturaGriglia; let index=index;" class="griglietta">
        <img [src]="d.PercorsoCompleto" title="Immagine {{d.idMultimedia}}" style="width: 100%; height: 100%; object-fit: contain; cursor: pointer;" (click)="selezioneDaGriglia(d)">
      </div>
    </div>
  </div>

  <!-- <img src="assets/immagini/icons/elabora.png" style="position: absolute; bottom: 10px; left: 100px; width: 40px; height: 40px;" (click)="azionaVideo()"> -->
</div>

<!-- UTILITY -->
<div *ngIf="ElaboraUtility == true" class="tuttoNero2">
  
</div>

<div ngDraggable [handle]="titoloU" *ngIf="utilityMostrate == true" class="utility">
  <div #titoloU class="drag-block-handle" class="intestazione">Utility</div>
  <h6>Immagini</h6>
  <hr />

  <div *ngIf="conversioneAutomaticaInCorsoI == false" class="bottoneUtility">
    <img src="assets/immagini/icons/icona_REFRESH.png" style="width: 40px; height: 40px" (click)="refreshArchivio()" /><br />
    Refresh<br />Immagini
  </div>

  <div *ngIf="conversioneAutomaticaInCorsoI == false" class="bottoneUtility">
    <img src="assets/immagini/icons/elabora.png" style="width: 40px; height: 40px" (click)="RefreshInfoImmaginiTutti()" /><br />
    Refresh<br />Info Immagini
  </div>

  <div class="bottoneUtility">
    <img src="assets/immagini/icons/elabora.png" style="cursor: pointer; width: 40px; height: 40px" (click)="CaricaExifImmagini('N')" /><br />
    Carica<br />Exif Mancanti
  </div>

  <div class="bottoneUtility">
    <img src="assets/immagini/icons/elabora.png" style="cursor: pointer; width: 40px; height: 40px" (click)="CaricaExifImmagini('S')" /><br />
    Carica<br />Tutti Exif
  </div>

  <div class="bottoneUtility">
    <img src="assets/immagini/icons/elabora.png" style="cursor: pointer; width: 40px; height: 40px" (click)="CaricaPuntiMancanti('N')" /><br />
    Carica<br />Punti Mancanti
  </div>

  <div class="bottoneUtility">
    <img src="assets/immagini/icons/elabora.png" style="cursor: pointer; width: 40px; height: 40px" (click)="CaricaPuntiMancanti('S')" /><br />
    Carica<br />Tutti i Punti
  </div>

  <div *ngIf="conversioneAutomaticaInCorsoI == true" class="bottoneUtility">
    <img src="assets/immagini/icons/elimina_quadrato.png" style="width: 40px; height: 40px" (click)="BloccaInformazioniImmagini()" /><br />
    Blocca<br />Conv. Imm.
  </div>

  <div *ngIf="conversioneAutomaticaInCorsoI == true" class="bottoneUtility">
    <img src="assets/immagini/icons/icona_CERCA.png" style="width: 40px; height: 40px" (click)="VisualizzaAvanzamentoConversioneI()" /><br />
    Visualizza<br />Info Conv. Imm.
  </div>

  <div style="clear: both"></div>
  <hr />

  <h6>Video</h6>
  <hr />
  
  <div *ngIf="conversioneAutomaticaInCorso == false" class="bottoneUtility">
    <img src="assets/immagini/icons/icona_REFRESH.png" style="width: 40px; height: 40px" (click)="RefreshInfoVideoTutti()" /><br />
    Refresh<br />Info Video
  </div>

  <div *ngIf="conversioneAutomaticaInCorso == false" class="bottoneUtility">
    <img src="assets/immagini/icons/elabora.png" style="width: 40px; height: 40px" (click)="ConvertiVideoTutti()" /><br />
    <br />Converti Video
  </div>

  <div *ngIf="conversioneAutomaticaInCorso == true" class="bottoneUtility">
    <img src="assets/immagini/icons/elimina_quadrato.png" style="width: 40px; height: 40px" (click)="BloccaConvertiVideoTutti()" /><br />
    Blocca Conversione
  </div>

  <div *ngIf="conversioneAutomaticaInCorso == true" class="bottoneUtility">
    <img src="assets/immagini/icons/icona_CERCA.png" style="width: 40px; height: 40px" (click)="VisualizzaAvanzamentoConversione()" /><br />
    Visualizza<br />Info Conv.
  </div>

  <div style="clear: both"></div>
  <hr />

  <h6>Utility</h6>
  <hr />
  
  <!-- *ngIf="conversioneAutomaticaInCorsoI == false && conversioneAutomaticaInCorso == false"  -->
  <div class="bottoneUtility">
    <img src="assets/immagini/icons/icona_CERCA.png" style="cursor: pointer; width: 40px; height: 40px" (click)="RilevaImmaginiUguali()" /><br />
    Gestione<br />Immagini
  </div>

  <!-- <div class="bottoneUtility">
    <img src="assets/immagini/icons/icona_CERCA.png" style="cursor: pointer; width: 40px; height: 40px" (click)="RilevaImmaginiPiccole()" /><br />
    Rileva<br />Immagini Piccole
  </div> -->

  <div class="bottoneUtility">
    <img src="assets/immagini/icons/matitadx.png" style="cursor: pointer; width: 40px; height: 40px" (click)="CreazioneNuovaCategoria()" /><br />
    Creazione<br />Categoria
  </div>

  <!-- <div class="bottoneUtility">
    <img src="assets/immagini/icons/matitadx.png" style="cursor: pointer; width: 40px; height: 40px" (click)="fAssociazioneTastiCategorie()" /><br />
    Associazione<br />Categorie / Tasti
  </div> -->

  <img src="assets/immagini/icons/elimina_quadrato.png" style="cursor: pointer; position: absolute; top: 4px; right: 3px; width: 30px; height: 30px;" (click)="utilityMostrate = false" />
</div>
<!-- UTILITY -->

<!-- Lista ID Multimedia -->
<div *ngIf="idMultimediaMostrate == true" class="idMultimedia">
  <table *ngIf="listaMultimediaId" style="width: 100%;">
    <tr *ngFor="let lista of listaMultimediaId">
      <td style="width: 50px; text-align: center;">
        <img src="assets/immagini/icons/icona_AVANTI.png" style="cursor: pointer; width: 25px; height: 25px" (click)="caricaIDMultimedia(idTipologiaPerSceltaID, lista.Progressivo, lista.Descrizione)" />
      </td>
      <td style="width: 50px; text-align: center;">
        <img src="assets/immagini/icons/matitadx.png" style="cursor: pointer; width: 25px; height: 25px" (click)="modificaIDMultimedia(idTipologiaPerSceltaID, lista.Progressivo, lista.Descrizione, lista.idMultimedia, false)" >
      </td>
      <td style="width: 50px; text-align: center;">
        <img src="assets/immagini/icons/icona_ELIMINA-TAG.png" style="cursor: pointer; width: 25px; height: 25px" (click)="eliminaIDMultimedia(idTipologiaPerSceltaID, lista.Progressivo)" />
      </td>
      <td style="width: 50px; text-align: center;">
        <img src="assets/immagini/icons/icona_REFRESH.png" style="cursor: pointer; width: 25px; height: 25px" (click)="modificaIDMultimedia(idTipologiaPerSceltaID, lista.Progressivo, lista.Descrizione, -1, false)" />
      </td>
      <td style="width: 10%;">
        {{lista.Progressivo}}
      </td>
      <td style="width: 10%;">
        {{lista.idMultimedia}}
      </td>
      <td style="width: calc(80% - 200px);">
        {{lista.Descrizione}}
      </td>
    </tr>
  </table>

  <img src="assets/immagini/icons/elimina_quadrato.png" style="position: absolute; top: 0px; right: 0px; width: 30px; height: 30px;" (click)="idMultimediaMostrate = false" />
</div>
<!-- Lista ID Multimedia -->

<!-- Modifica ID -->
<div *ngIf="idMultimediaModMostrate == true" class="idMultimediaMod">
  <table style="width: 100%;">
    <tr>
      <td>
        Descrizione
      </td>
      <td>
        <input type="text" [(ngModel)]="DescrizioneIDM" style="width: 100%" (focus)="entratoCampoTesto(true)" (focusout)="entratoCampoTesto(false)" >
      </td>
    </tr>
    <tr>
      <td>
        Id Multimedia
      </td>
      <td>
        <input type="text" [(ngModel)]="IDM" style="width: 100%" (focus)="entratoCampoTesto(true)" (focusout)="entratoCampoTesto(false)" >
      </td>
    </tr>
  </table>

  <div style="width: 100%;">
    <div style="width: 50%; float: left; text-align: center;">
      <img src="assets/immagini/icons/icona_SALVA.png" style="width: 30px; height: 30px;" (click)="salvaIDMM()" />
    </div>
    <div style="width: 50%; float: left; text-align: center;">
      <img src="assets/immagini/icons/elimina_quadrato.png" style="width: 30px; height: 30px;" (click)="idMultimediaModMostrate = false" />
    </div>
  </div>
</div>
<!-- Modifica ID -->

<!-- Avanzamento Conversione -->
<div *ngIf="avanzamentoConversioneMostrato == true" class="avanzamentoConversione" >
  <div style="width: 100%; height: 100%; overflow: auto;" [innerHTML]="testoAvanzamentoConversione">
  </div>

  <img src="assets/immagini/icons/icona_CERCA.png" style="position: absolute; top: 0px; right: 35px; width: 30px; height: 30px;" (click)="VisualizzaAvanzamentoConversione()" />
  <img src="assets/immagini/icons/elimina_quadrato.png" style="position: absolute; top: 0px; right: 0px; width: 30px; height: 30px;" (click)="avanzamentoConversioneMostrato = false" />
</div>
<!-- Avanzamento Conversione -->

<!-- Informazioni immagine -->
<div *ngIf="informazioniMMI && infoImmagini" class="infoImmagini" >
  <table style="width: 100%;">
    <tr>
      <td>Cartella:</td><td>{{informazioniMMI.Cartella}}</td>
    </tr>
    <tr>
      <td>Data File:</td><td>{{informazioniMMI.DataFile}}</td>
    </tr>
    <tr>
      <td>Dimensioni:</td><td style="text-align: right;">{{informazioniMMI.Dimensioni}}</td>
    </tr>
<!-- <tr>
      <td>Hash:</td><td>{{informazioniMMI.Hash}}</td>
    </tr> -->
    <tr>
      <td>Nome File:</td><td>{{informazioniMMI.Nome}}</td>
    </tr>
    <tr>
      <td>Path:</td><td>{{informazioniMMI.Path}}</td>
    </tr>
    <tr>
      <td>Preferito:</td>{{informazioniMMI.Preferito}}<td>
    </tr>
    <tr>
      <td>Punti:</td><td style="text-align: right;">{{informazioniMMI.Punti}}</td>
    </tr>
    <tr>
      <td>Larghezza:</td><td style="text-align: right;">{{informazioniMMI.Width}}</td>
    </tr>
    <tr>
      <td>Altezza:</td><td style="text-align: right;">{{informazioniMMI.Height}}</td>
    </tr>
    <tr>
      <td>idCategoria:</td><td style="text-align: right;">{{informazioniMMI.idCategoria}}</td>
    </tr>
    <tr>
      <td>idMultimedia:</td><td style="text-align: right;">{{informazioniMMI.idMultimedia}}</td>
    </tr>
  </table>

  <img src="assets/immagini/icons/elimina_quadrato.png" style="position: absolute; top: 0px; right: 0px; width: 30px; height: 30px;" (click)="infoImmagini = false" />
</div>
<!-- Informazioni immagine -->

<!-- Informazioni Video -->
<div *ngIf="informazioniMMV && infoVideo" class="infoImmagini" [style.left]="modalitaDoppia == true ? '50%' : '10px'" >
  <table style="width: 100%;">
    <tr>
      <td>Cartella:</td><td>{{informazioniMMV.Cartella}}</td>
    </tr>
    <tr>
      <td>Data File:</td><td>{{informazioniMMV.DataFile}}</td>
    </tr>
    <tr>
      <td>Dimensioni:</td><td style="text-align: right;">{{informazioniMMV.Dimensioni}}</td>
    </tr>
    <tr>
      <td>Nome File:</td><td>{{informazioniMMV.Nome}}</td>
    </tr>
    <tr>
      <td>Path:</td><td>{{informazioniMMV.Path}}</td>
    </tr>
    <tr>
      <td>Preferito:</td>{{informazioniMMV.Preferito}}<td>
    </tr>
    <tr>
      <td>Larghezza:</td><td style="text-align: right;">{{informazioniMMV.Jsone.streams[0].coded_width}}</td>
    </tr>
    <tr>
      <td>Altezza:</td><td style="text-align: right;">{{informazioniMMV.Jsone.streams[0].coded_height}}</td>
    </tr>
    <tr>
      <td>Bit Rate Video:</td><td style="text-align: right;">{{informazioniMMV.Jsone.streams[0].bit_rate}}</td>
    </tr>
    <tr>
      <td>Codec Video:</td><td style="text-align: right;">{{informazioniMMV.Jsone.streams[0].codec_long_name}}</td>
    </tr>
    <tr>
      <td>Bit Rate Audio:</td><td style="text-align: right;">{{informazioniMMV.Jsone.streams[1].bit_rate}}</td>
    </tr>
    <tr>
      <td>Codec Audio:</td><td style="text-align: right;">{{informazioniMMV.Jsone.streams[1].codec_long_name}}</td>
    </tr>
    <tr>
      <td>idCategoria:</td><td style="text-align: right;">{{informazioniMMV.idCategoria}}</td>
    </tr>
    <tr>
      <td>idMultimedia:</td><td style="text-align: right;">{{informazioniMMV.idMultimedia}}</td>
    </tr>
  </table>

  <img src="assets/immagini/icons/elimina_quadrato.png" style="position: absolute; top: 0px; right: 0px; width: 30px; height: 30px;" (click)="infoVideo = false" />
</div>
<!-- Informazioni Video -->

<!-- Gestione immagini duplicate -->
<app-immagini-duplicate
  [mascheraVisibile]="mascheraVisibileDuplicati"
  [idCategoria]="idCategoriaAttualeI"
  [pathImmagini]="pathCC"
  [listaSelezionata]="listaSelezionata"
  [sbloccataProtezione]="sbloccataProtezione"
  [listaCategorie]="listaImmagini"
  [listaImpostataDaTasto]="listaSelezionataDaTasto"
  [lista]="lista"
  [t]="questo"

  (mascheraNascosta)="chiudeMascheraDuplicati()"
  (quantiPreferiti)="quantiPreferiti = $event"
  (quantiPreferitiProt)="quantiPreferitiProt = $event"
  (entratoTesto)="entratoCampoTesto($event)"
>

</app-immagini-duplicate>
<!-- Gestione immagini duplicate -->

<!-- Gestione immagini piccole
<app-immagini_piccole
  [mascheraVisibile]="mascheraVisibilePiccole"
  [idCategoria]="idCategoriaAttualeI"
  [pathImmagini]="pathCC"
  [listaSelezionata]="listaSelezionata"
  [sbloccataProtezione]="sbloccataProtezione"

  (mascheraNascosta)="chiudeMascheraPiccole()"
  (quantiPreferiti)="quantiPreferiti = $event"
  (quantiPreferitiProt)="quantiPreferitiProt = $event"
>

</app-immagini_piccole>
Gestione immagini duplicate -->

<!-- Informazioni Varie -->
<div ngDraggable *ngIf="visualizzaInformazioni == true && informazioniImmagine" class="informazioniVarie" 
  [style.top]="menuCellulare == true ? '340px' : '40px'">
  <table style="width: 100%;">
    <tr *ngFor="let inf of informazioniImmagine">
      <td>{{inf.Informazione}}</td>
      <td style="text-align: right;">{{inf.Valore}}</td>
    </tr>
  </table>

  <img *ngIf="caricamentoInformazioni == true" src="assets/immagini/icons/please_wait.gif" style="position: absolute; left: 0px; top: 30px; width: 100%; height: calc(100% - 30px); opacity: .75;" />

  <img src="assets/immagini/icons/icona-FILTRO.png" style="cursor: pointer; position: absolute; top: 0px; right: 70px; width: 30px; height: 30px;" (click)="caricaInformazioniCategorie()" />
  <img src="assets/immagini/icons/icona_CERCA.png" style="cursor: pointer; position: absolute; top: 0px; right: 35px; width: 30px; height: 30px;" (click)="caricaInformazioni()" />
  <img src="assets/immagini/icons/elimina_quadrato.png" style="cursor: pointer; position: absolute; top: 0px; right: 0px; width: 30px; height: 30px;" (click)="chiudeInformazioni()" />
</div>

<div ngDraggable *ngIf="informazioniCategorieVisualizzate" class="informazioniVarie" [style.left]="menuCellulare == true ? '170px' : '5px'" [style.top]="menuCellulare == true ? '340px' : '240px'">
  <table style="width: 100%;">
    <tr>
      <td>
        <div style="width:100%; text-align: left;">
          <table style="width: 250px">
            <tr>
              <th>Categoria</th><th>Immagini</th><th>Preferiti</th><th *ngIf="Tipologia=='Immagini' || modalitaDoppia == true">Info Immagini</th><th *ngIf="Tipologia=='Video' || modalitaDoppia == true">Info Video</th>
            </tr>
            <tr *ngFor="let infCat of informazioniCategorie">
              <td>
                {{infCat.Categoria}}
              </td>          
              <td style="text-align: right;">
                {{infCat.Tutte}}
              </td>
              <td style="text-align: right;">
                {{infCat.Preferiti}}
              </td>
              <td *ngIf="Tipologia=='Immagini' || modalitaDoppia == true" style="text-align: right;">
                {{infCat.InfoImmagini}}
              </td>
              <td  *ngIf="Tipologia=='Video' || modalitaDoppia == true" style="text-align: right;">
                {{infCat.InfoVideo}}
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>

  <img src="assets/immagini/icons/elimina_quadrato.png" style="cursor: pointer; position: absolute; top: 0px; right: 0px; width: 30px; height: 30px;" (click)="informazioniCategorieVisualizzate = false" />
</div>
<!-- Informazioni Varie -->

<!-- Creazione nuova categoria -->
<div *ngIf="creaCategoria == true" class="tuttoNero2" style="z-index: 2005;"></div>
<div ngDraggable [handle]="titoloCC" *ngIf="creaCategoria == true" class="creazioneCategoria">
  <div #titoloCC class="drag-block-handle" class="intestazione">Creazione categoria</div>
  <table style="width: 100%;">
    <tr>
      <td>
        Tipologia
      </td>
      <td>
        <input type="radio" value="1" name="gender2" [(ngModel)]="categoriaTipologia" (click)="cambiaCategoriaTipologia()">&nbsp;Immagini
        <br />
        <input type="radio" value="2" name="gender2" [(ngModel)]="categoriaTipologia" (click)="cambiaCategoriaTipologia()">&nbsp;Video
      </td>
    </tr>
    <tr>
      <td>Nome Categoria</td>
      <td>
        <input type="text" [(ngModel)]="nomeNuovaCategoria" style="width: 100%; height: 29px;" (focus)="entratoCampoTesto(true)" (focusout)="entratoCampoTesto(false)" >
      </td>
    </tr>
    <tr>
      <td>Protetta</td>
      <td>
        <input type="checkbox" [checked]="categoriaProtetta == true" (change)="cambiaCategoriaProtetta($event)" />
      </td>
    </tr>
    <tr>
      <td>Aggiunta Inutile</td>
      <td>
        <input type="checkbox" [checked]="aggiuntaInutile == true" (change)="cambiaAggiuntaInutile($event)" />
      </td>
    </tr>
    <tr>
      <td>Sotto Categoria</td>
      <td>
        <input type="checkbox" [checked]="sottoCategoria == true" (change)="cambiaSottoCategoria($event)" />
      </td>
    </tr>
    <tr>
      <td>Categoria Madre</td>
      <td>
        <select [(ngModel)]="listaSelezionataPerCreaCategoria" style="width: 100%;" (click)="modificataComboCreaCategoria($event)">
          <option *ngFor="let listina of lista" 
            [value]="listina.NomeLista" 
            [attr.selected]="listaSelezionataPerCreaCategoria==listina.NomeLista ? true : null">
            {{listina.NomeLista}}
          </option>
        </select>          
      </td>
    </tr>
    <tr>
      <td style="width: 50%; text-align: center;">
        <img src="assets/immagini/icons/icona_SALVA.png" title="Salva" class="immagini" (click)="CreazioneCategoriaSalvataggio()" />
      </td>
      <td style="width: 50%; text-align: center;">
        <img src="assets/immagini/icons/elimina_quadrato.png" title="Salva" class="immagini" (click)="creaCategoria = false" />
      </td>
    </tr>
  </table>
</div>
<!-- Creazione nuova categoria -->

<!-- Spostamento a categoria -->
<!-- <div *ngIf="spostaACategoria == true" class="tuttoNero2" style="z-index: 2005;"></div> -->
<div *ngIf="spostaACategoria == true && Tipologia == 'Immagini' && modalitaDoppia == false" ngDraggable [handle]="titoloSC1" class="creazioneCategoriaFissa" 
  [style.right]="modalitaDoppia === true ? '50%' : '0px'">
  <div #titoloSC1 class="drag-block-handle" class="intestazione">Spostamento a categoria</div>
  <table style="width: 100%;">
    <tr style="border-bottom: 1px solid #999;">
      <td>
        Tipologia
      </td>
      <td>
        <select [(ngModel)]="listaSelezionataPerSpostamento" style="width: 100%;" (click)="modificataComboImmaginiPS($event)">
          <option *ngFor="let listina of lista" 
            [value]="listina.NomeLista" 
            [attr.selected]="listaSelezionataPS==listina.NomeLista ? true : null">
            {{listina.NomeLista}}
          </option>
        </select>          
      </td>
    </tr>
    <tr style="border-bottom: 1px solid #999;">
      <td>
        Selezionata
      </td>
      <td>
        {{listaSelezionataPS}}
      </td>
    </tr>
    <tr>
      <td style="width: 50%; text-align: center;">
        <img src="assets/immagini/icons/icona_SALVA.png" title="Salva" class="immagini" (click)="SpostaMultimediaAdAltraCategoria()" />
      </td>
      <td style="width: 50%; text-align: center;">
        <img src="assets/immagini/icons/elimina_quadrato.png" title="Salva" class="immagini" (click)="spostaACategoria = false" />
      </td>
    </tr>
  </table>
</div>
<!-- Spostamento a categoria -->

<!-- Associazione Categorie Tasti -->
<!-- <div *ngIf="associazioneTastiCategorie == true" class="tuttoNero2" style="z-index: 2005;"></div> -->
<div *ngIf="associazioneTastiCategorie == true && Tipologia == 'Immagini' && modalitaDoppia == false" ngDraggable [handle]="titoloAT" class="associazioneCategorieTasti" 
  [style.right]="modalitaDoppia == true ? '50%' : '0px' ">
  <div #titoloAT class="drag-block-handle" class="intestazione">Associazione Tasti</div>
  <table style="width: 100%;">
    <tr>
      <th>
        Tasto
      </th>
      <th>
        Categoria
      </th>
      <td>
        
      </td>
    </tr>
    <tr>
      <td>
        S
      </td>
      <td>
        Sposta a categoria
      </td>
      <td>
        
      </td>
    </tr>
    <tr>
      <td>
        E
      </td>
      <td>
        Elimina
      </td>
      <td>
        
      </td>
    </tr>
    <tr>
      <td>
        P
      </td>
      <td>
        Preferito Si/No
      </td>
      <td>
        
      </td>
    </tr>
    <tr *ngFor="let tasto of tastiConfigurati">
      <td>
        {{tasto.idTasto}}
      </td>
      <td>
        <select style="width: 100%;" (click)="cambiaTasto(tasto.idTasto, $event)">
          <option *ngFor="let listina of listaTasti" 
            [value]="tasto.Lista" 
            [attr.selected]="tasto.Lista==listina.NomeLista ? true : null">
            {{listina.NomeLista}}
          </option>
        </select>  
      </td>
      <td>
        <img src="assets/immagini/icons/icona_PLAY.png" title="Salva" class="immagini" style="width: 25px; height: 25px;" (click)="impostaListaTasto(tasto.idTasto)" />
      </td>
    </tr>
    <tr>
      <td>

      </td>
      <td style="text-align: center;">
        <img src="assets/immagini/icons/icona_SALVA.png" title="Salva" class="immagini" (click)="salvaTasti()" />
      </td>
      <td style="text-align: center;">
        <img src="assets/immagini/icons/elimina_quadrato.png" title="Salva" class="immagini" (click)="associazioneTastiCategorie = false" />
      </td>
    </tr>
  </table>
</div>
<!-- Associazione Categorie Tasti -->

<!-- Impostazioni -->
<div *ngIf="impostazioniMostrate == true" class="tuttoNero2" style="z-index: 2005;"></div>
<div ngDraggable [handle]="titoloImp" *ngIf="impostazioniMostrate == true" class="impostazioni">
  <div #titoloImp class="drag-block-handle" class="intestazione">Spostamento a categoria</div>
  <h5>Impostazioni</h5>
  <hr />
  <table style="width: 100%;">
    <tr>
      <td style="text-align: left; margin-top: 5px;">
        Visualizza Informazioni
      </td>
      <td style="margin-top: 5px;">
        <input type="checkbox" style="width: 30px;" [(ngModel)]="visualizzaInformazioni" (click)="impostaVisualizzaInformazioni()" />
      </td>
    </tr>
    <tr>
      <td style="text-align: left; margin-top: 10px;">
        Immagine a tutto schermo
      </td>
      <td style="margin-top: 5px;">
        <input type="checkbox" style="width: 30px;" [(ngModel)]="visualizzaTuttoSchermo" (click)="impostaVisualizzaTuttoSchermo()" />
      </td>
    </tr>
    <tr>
      <td style="text-align: left; margin-top: 10px;">
        Visualizza finestra<br />Spostamento categoria
      </td>
      <td style="margin-top: 5px;">
        <input type="checkbox" style="width: 30px;" [(ngModel)]="spostaACategoria" (click)="impostaVisualizzaCategoria()" />
      </td>
    </tr>
    <tr>
      <td style="text-align: left; margin-top: 5px;">
        Visualizza finestra<br />
        Tasti categoria
      </td>
      <td style="margin-top: 10px;">
        <input type="checkbox" style="width: 30px;" [(ngModel)]="associazioneTastiCategorie" (click)="impostaVisualizzaTasti()" />
      </td>
    </tr>
    <tr>
      <td style="text-align: left; margin-top: 5px;">
        Modalità Test<br />
        su aggiornamento
      </td>
      <td style="margin-top: 10px;">
        <input type="checkbox" style="width: 30px;" [(ngModel)]="EseguiSoloTest" (click)="impostaSoloTest()" />
      </td>
    </tr>
    <tr>
      <td style="text-align: left; margin-top: 5px;">
        Visualizza<br />
        Categorie Tablet
      </td>
      <td style="margin-top: 10px;">
        <input type="checkbox" style="width: 30px;" [(ngModel)]="spostamentoTablet" (click)="impostaSpostamentoTablet()" />
      </td>
    </tr>
    <tr>
      <td style="text-align: left; margin-top: 5px;">
        Visualizza<br />
        Immagini Uguali
      </td>
      <td style="margin-top: 10px;">
        <input type="checkbox" style="width: 30px;" [(ngModel)]="mascheraUguali" (click)="impostaMascheraUguali()" />
      </td>
    </tr>
    <tr>
      <td colspan="2" style="border-top: 1px solid #999;">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" style="border-top: 1px solid #999;">&nbsp;</td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
        <img src="assets/immagini/icons/elimina_quadrato.png" title="Salva" class="immagini" (click)="impostazioniMostrate = false" />
      </td>
    </tr>
  </table>
</div>
<!-- Impostazioni -->

<!-- Spostamento per tablet -->
<div *ngIf="spostamentoTablet == true && Tipologia == 'Immagini' && modalitaDoppia == false" ngDraggable [handle]="titoloSC" class="spostamentoTablet">
  <div #titoloSC class="drag-block-handle" class="intestazione">
    <div style="width: calc(100% - 30px); float: left; text-align: left;">
      Spostamento a categoria
    </div>
    <div style="width: 30px; float: left;">
      <img src="assets/immagini/icons/icona_REFRESH.png" title="Ricarica categorie" class="immagini" style="width: 25px; height: 25px;" (click)="leggeCategorieImmagini()" />
    </div>
  </div>
  <div style="width: 100%; ">
    <div style="width: 30%; float: left;">
        Filtro
    </div>
    <div style="width: 70%; float: left;">
        <input type="text" [(ngModel)]="filtroLista" style="width: 100%;" (keyup)="tastoPremuto($event)" (blur)="entratoCampoStringa()" (focus)="entratoCampoStringa()" (focusout)="lasciatoCampoStringa(true)">
    </div>
  </div>

  <table style="width: 100%;">
      <tr style="border-bottom: 1px solid #999;">
        <td>
          Selezionata
        </td>
        <td>
          {{listaSelezionataPS}}
        </td>
      </tr>    
      <!-- <tr>
        <th></th>
        <th>
          Categoria
        </th>
      </tr> -->
      <tr *ngFor="let categorie of lista2" [style.background-color]="categorie.RigaDispari == true ? '#efef92' : '#d1d164'">
        <td>
          <img *ngIf="categorie.RigaDispari == true" src="assets/immagini/icons/icona_SALVA.png" title="Salva" class="immagini" style="width: 35px; height: 35px;" (click)="SpostaMultimediaAdAltraCategoriaTablet(categorie)" />
          <span *ngIf="categorie.RigaDispari == false">{{categorie.NomeLista}}</span>
        </td>
        <td>
          <img *ngIf="categorie.RigaDispari == false" src="assets/immagini/icons/icona_SALVA.png" title="Salva" class="immagini" style="width: 35px; height: 35px;" (click)="SpostaMultimediaAdAltraCategoriaTablet(categorie)" />
          <span *ngIf="categorie.RigaDispari == true">{{categorie.NomeLista}}</span>
        </td>
      </tr>
      <tr style="border-top: 1px solid #999;">
        <td>
  
        </td>
        <td style="text-align: right;">
          <img src="assets/immagini/icons/elimina_quadrato.png" title="Salva" class="immagini" (click)="chiudiSpostamentoTablet()" />
        </td>
      </tr>  
   </table>
</div>
<!-- Spostamento per tablet -->

<!-- Lista uguali -->
<div *ngIf="mascheraUguali && immaginiUguali && sbloccataProtezione" class="listaUguali" ngDraggable [handle]="titoloUguali" 
  [style.bottom]="ceCordova === true ? '5px' : '40px'"
>
  <div #titoloUguali class="drag-block-handle" style="width: 100%; height: 25px; text-align: center; background-color: #abab59; margin-bottom: 5px;">
    Immagini Uguali
  </div>
  <div *ngFor="let uguale of immaginiUguali" class="immagineUguale">
    <img style="left: 0px; top: 0px; width: 100%; height: 100%;" [src]="uguale.PathImmagine" />

    <div style="width: 100%; height: 20px; text-align: right; margin-top: -22px;">
      <img src="assets/immagini/icons/icona_ELIMINA-TAG.png" title="Elimina" class="immagini"  style="width: 20px; height: 20px; margin-top: -8px;" (click)="eliminaImmagine(uguale)" />
    </div>
  </div>
</div>
<!-- Lista uguali -->